<center><img src="css/lib/img/logo.png"></center>
<center>
<form id="shareSubmit" class="navbar-form"> I &nbsp;
<div class="btn-group">
    <button type="button" id="currentOption" class="btn btn-default">Need a ride</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul id="rideoption" class="dropdown-menu" role="menu">
        <li><a>Need a ride</a></li>
        <li><a>Can give a ride</a></li>
    </ul>
</div>
    &nbsp;from&nbsp;
    <div class="form-group">
        <input type="text" placeholder="Zipcode" id="zip1" class="form-control">
    </div>
    &nbsp;to&nbsp; 
    <div class="form-group">
        <input type="text" placeholder="Zipcode" id="zip2" class="form-control">
    </div>
</div>
</form>
</center>
<center>
    <button class="btn btn-primary" id="connected">Get me connected</button>
</center>
